
<nav style="background-color: #0175AE" class="navbar navbar-expand-lg   ">
  <div class="container-fluid  ">
<!--    <a class="navbar-brand text-white" href="#">Dashboard</a>-->
      <img class="image-logo ms-2" style="width: 8%"  src="assets/Atos_Origin_Logo.png">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <div class="d-flex" >

        <p class="texto d-inline-flex">Full_Name</p>
        <i style="color: aliceblue;font-size: 2rem"  class="bi-person-fill me-2"></i>

      </div>
    </div>
  </div>
</nav>
