<div class="containerBack">
  <div class="container p-5 ">


    <i style= "color: aliceblue ; margin-top: 4%" class="bi-speedometer fs-3 mt-md-4  ms-lg-5 "></i>
     <span style="color: aliceblue ; font-size: large" class="align-middle mb-3 ms-2 mt-md-4">
      Dashboard

     </span>
  </div>
  <div style="display: flex; flex-direction: row ; justify-content: space-between ; margin-left: 3%; margin-right: 4%" >
    <app-access-butt title= "Agency List" icon = "bi bi-house-door" lien="www.google.com" ></app-access-butt>
    <app-access-butt title= "Customers List" icon = "bi bi-people" lien="www.google.com"></app-access-butt>
    <app-access-butt title= "Accounts List" icon = "bi bi-list-task" lien="www.google.com"></app-access-butt>

  </div>
  <br> <br>
  <br> <br>
  <div style="display: flex; flex-direction: row ; justify-content: space-evenly ;margin-left: 3%; margin-right: 4%" >
    <app-access-butt title= "Reclamation List" icon = "bi bi-exclamation-diamond" lien="www.google.com"></app-access-butt>
    <app-access-butt title= "Notes List" icon = "bi bi-house-door-fill" lien="www.google.com"></app-access-butt>


  </div>


</div>
