<div class="container">
  <div class="navbar" style="padding: 5px 25px;">
    <img class="image-logo" src="assets/images/logo.png" alt="">
    <a class="btn btn-radius btn-join" style="background: #87c253;" routerLink ="auth/login" >Se connecter</a>
  </div>

  <section class="section section__welcome" style="margin-top:80px">
    <div class="row">
      <div class="col-md-6" style="padding-top:60px">

      </div>
      <div class="col-md-6">
        <div class="image-wrapper">
          <img style="width: 521px; border-radius: 20px;" src="" alt="">
        </div>
      </div>
    </div>

  </section>
  <section class="section section__how-it-works" style="margin-top:200px; margin-bottom: 200px">
    <div class="row">
      <div class="col-md-6">
        <div class="image-wrapper">
          <img style="width: 521px; border-radius: 20px;" src="" alt="">
        </div>
      </div>
     <div class="col-md-6">
     </div>
    </div>

  </section>



  <div style="height:5px">

  </div>

<p-sidebar position="bottom" [(visible)]="display">
  <div class="container">
    <p style="display:inline-block;line-height: 40px;"></p>
    <a style="float:right" class="btn btn-radius btn-join" (click)="onButtonClicked()"></a>
  </div>
</p-sidebar>

</div>
